@import url("normalize.css?__inline");

@import url("reset.css?__inline");

/*setting*/

body,
button,
input,
select,
textarea {
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei", sans-serif;

}

body {
    background-color: #FFF;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,
body,
.root {
    height: 100%;
}

.text-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}
